language: ruby
sudo: required

rvm:
  - 2.5
  - 2.6
  - 2.7
  - 3.0

before_install:
  - gem update bundler

install:
  - bundle install --jobs=3 --retry=3
  - gem install rubocop

script:
  - bundle exec rubocop
  # Blackhole 127.0.0.2 for testing connection timeouts
  - sudo iptables -I INPUT -s 127.0.0.2 -j DROP
  - bundle exec rake
